---
import BaseLayout from '@layouts/BaseLayout.astro'
import { newtClient, type NewtPlayer } from '@utils/newt.ts'
const { items: authors } = await newtClient.getContents<NewtPlayer>({
	appUid: 'aglog',
	modelUid: 'player',
	query: {
		select: ['fullName', 'uniformNumber', 'biography', 'profileImage', 'local'],
		order: ['uniformNumber']
	}
})
---

<BaseLayout>
	<section class="max-w-8xl mx-auto grid items-center gap-x-8 gap-y-20 p-16 px-6 lg:px-8 xl:grid-cols-2">
		<div class="max-w-2xl">
			<h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">AGNI KABADDISTS</h2>
			<p class="mt-6 text-lg leading-8 text-gray-600">
				カバディは道具を必要とせず、体のみで闘うシンプルなコンタクトスポーツです。広島阿國の練習は、一般体験者を随時受け付けています。「メンバーとして加入したい」等ではなくとも、一度やってみたいという気持ちがもしある方はSNSよりご連絡ください。心よりお持ちしております。
			</p>
		</div>
		<div>
			<ul role="list" class="grid gap-x-12 gap-y-12 sm:grid-cols-3 sm:gap-y-20 xl:col-span-2">
				{
					authors.map((player) => (
						<li>
							<div class="flex items-center gap-x-4">
								<img class="h-16 w-16 rounded-full" src={player.profileImage.src} alt={player.fullName} />
								<div>
									<>
										<h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">{player.fullName}</h3>
										<span class="me-2 rounded bg-sand px-2.5 py-0.5 text-base text-xs font-medium dark:bg-gray-700 dark:text-air">
											{player.local}出身
										</span>
									</>
									<p class="text-sm font-semibold leading-6 text-viva">#{player.uniformNumber}</p>
								</div>
							</div>
						</li>
					))
				}
			</ul>
		</div>
	</section>
</BaseLayout>
